rules_version='2'

service cloud.firestore {
  match /databases/{database}/documents {

    match /{path=**}/plants/{plantId} {
        // allow read: if request.auth != null && request.auth.uid == resource.data.userId;
        // allow write: if request.auth != null && request.auth.uid == request.resource.data.userId;

        allow read: if request.auth != null && resource.data.userId == request.auth.uid;
        allow write: if request.auth != null && request.resource.data.userId == request.auth.uid;
    }

    // Users
    match /users/{userId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;

        // Rooms
        match /rooms/{roomId} {
            allow read, write: if request.auth != null && request.auth.uid == userId;

            // Plants
            match /plants/{plantId} {
                allow read, write: if request.auth != null && request.auth.uid == userId;
            }
        }

        // Plants (Top-level user plants)
        match /plants/{plantId} {
            allow read, write: if request.auth != null && request.auth.uid == userId;
        }

        // Chats
        match /chats/{chatId} {
            allow read, write: if request.auth != null && request.auth.uid == userId;

            // Messages
            match /messages/{messageId} {
                allow read, write: if request.auth != null && request.auth.uid == userId;
            }
        }
    }
  }
}
