@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v287/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1v-p_4MrImHCIJIZrDCvHOej.woff2) format('woff2');
}

@import 'tailwindcss';
.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: 'liga';
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.noto-color-emoji-regular {
    font-family: 'Noto Color Emoji', sans-serif;
    font-weight: 400;
    font-style: normal;
}

@theme {
    /* --font-display: "Satoshi", "sans-serif";
  --breakpoint-3xl: 120rem;
  */
    --color-avocado-100: oklch(0.99 0 0);
    --color-avocado-200: oklch(0.98 0.04 113.22);
    --color-avocado-300: oklch(0.94 0.11 115.03);
    --color-avocado-400: oklch(0.92 0.19 114.08);
    --color-avocado-500: oklch(0.84 0.18 117.33);
    --color-avocado-600: oklch(0.53 0.12 118.34);

    /* --color-primary: oklch(0.7589 0.1655 124.95); */
    --color-primary: var(--primary-color-user-500);

    --color-primary-100: var(--primary-color-user-100);
    --color-primary-200: var(--primary-color-user-200);
    --color-primary-300: var(--primary-color-user-300);
    --color-primary-400: var(--primary-color-user-400);
    --color-primary-500: var(--color-primary);
    --color-primary-600: var(--primary-color-user-600);
    --color-primary-700: var(--primary-color-user-700);
    --color-primary-800: var(--primary-color-user-800);
    --color-primary-900: var(--primary-color-user-900);

    /*--ease-fluid: cubic-bezier(0.3, 0, 0, 1);
    --ease-snappy: cubic-bezier(0.2, 0, 0, 1); 
    */

    /* for custom font, that generates class "font-nunito" */
    --font-nunito: 'Nunito', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
    --font-roboto: 'Roboto', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;

    --text-2xs: 0.625rem;
    --text-3xs: 0.5rem;

    --shadow-menu: 0 -10px 15px -3px rgba(0, 0, 0, 0.1);
}

@layer base {
    body {
        @apply bg-gray-100 text-gray-900 font-roboto antialiased bg-transparent;
        /* @apply dark:bg-slate-900 dark:text-slate-200; */
    }

    input[type='color'] {
        appearance: none;
        -webkit-appearance: none;
    }

    input[type='color']::-webkit-color-swatch-wrapper {
        padding: 0;
    }

    input[type='color']::-webkit-color-swatch {
        border: none;
    }
}

@layer components {
    .card {
        @apply bg-white rounded-lg shadow-md p-4 text-slate-800;
    }
}

@layer utilities {
    .grid-cols-1fr-auto {
        grid-template-columns: 1fr auto;
    }

    .fade-enter-active,
    .fade-leave-active {
        @apply transition-opacity duration-300;
    }

    .fade-enter-from,
    .fade-leave-to {
        @apply opacity-0;
    }

    .fade-move {
        @apply transition-transform duration-500;
    }
}

.v-popper--theme-tooltip {
    @apply text-sm max-w-[400px];
}

.v-popper--theme-tooltip .v-popper__inner {
    @apply dark:text-white/75 dark:bg-black text-xs/5;
}

.is-active {
    color: var(--color-primary);
}

.modal-backdrop {
    @apply bg-gray-900/75;

    position: fixed;
    top: 0;
    inset-inline-end: 0;
    bottom: 0;
    inset-inline-start: 0;
    z-index: 1040;
    backdrop-filter: blur(5px);
}

.modal-backdrop.fade {
    opacity: 0;
}