@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v287/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1v-p_4MrImHCIJIZrDCvHOej.woff2) format('woff2');
}

@import 'tailwindcss';
/* @plugin "@tailwindcss/forms"; */


.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: 'liga';
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.noto-color-emoji-regular {
    font-family: 'Noto Color Emoji', sans-serif;
    font-weight: 400;
    font-style: normal;
}

@theme {
    /* --font-display: "Satoshi", "sans-serif";
  --breakpoint-3xl: 120rem;
  */
    --color-avocado-100: oklch(0.99 0 0);
    --color-avocado-200: oklch(0.98 0.04 113.22);
    --color-avocado-300: oklch(0.94 0.11 115.03);
    --color-avocado-400: oklch(0.92 0.19 114.08);
    --color-avocado-500: oklch(0.84 0.18 117.33);
    --color-avocado-600: oklch(0.53 0.12 118.34);

    --color-primary: oklch(0.7589 0.1655 124.95);

    --color-primary-100: oklch(0.96 0.04 124.95);
    --color-primary-200: oklch(0.88 0.09 124.95);
    --color-primary-300: oklch(0.81 0.12 124.95);
    --color-primary-400: oklch(0.77 0.15 124.95);
    --color-primary-500: var(--color-primary);
    --color-primary-600: oklch(0.65 0.17 124.95);
    --color-primary-700: oklch(0.54 0.16 124.95);
    --color-primary-800: oklch(0.44 0.14 124.95);
    --color-primary-900: oklch(0.34 0.1 124.95);
    /*--ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1); 
  */

    /* for custom font, that generates class "font-nunito" */
    --font-nunito: 'Nunito', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
    --font-roboto: 'Roboto', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
}

@layer base {
    body {
        @apply bg-gray-100 text-gray-900 font-roboto antialiased bg-transparent;
        /* @apply dark:bg-slate-900 dark:text-slate-200; */
    }
}

@layer components {
    .card {
        @apply bg-white rounded-lg shadow-md p-4 text-slate-800;
    }
}

@layer utilities {
    .grid-cols-1fr-auto {
        grid-template-columns: 1fr auto;
    }

    .fade-enter-active,
    .fade-leave-active {
        @apply transition-opacity duration-300;
    }

    .fade-enter-from,
    .fade-leave-to {
        @apply opacity-0;
    }

    .fade-move {
        @apply transition-transform duration-500;
    }
}
