@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v287/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1v-p_4MrImHCIJIZrDCvHOej.woff2) format('woff2');
}

@import 'tailwindcss';

/**
 * ----------------------------------------------------------------
 * Animations Module
 * ----------------------------------------------------------------
 * Imports all custom @keyframes definitions and animation
 * utility classes from the dedicated animations module.
 */
@import './modules/animations.css';

/**
 * ----------------------------------------------------------------
 * Custom Dark Mode Variant
 * ----------------------------------------------------------------
 * Defines a custom `dark:` variant for Tailwind CSS, which
 * activates when an element is inside a parent with the `.dark`
 * class. This allows for custom dark mode styling like
 * `dark:bg-black`.
 */
@custom-variant dark (&:where(.dark, .dark *));

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: 'liga';
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.noto-color-emoji-regular {
    font-family: 'Noto Color Emoji', sans-serif;
    font-weight: 400;
    font-style: normal;
}

@theme {
    --color-avocado-100: oklch(0.99 0 0);
    --color-avocado-200: oklch(0.98 0.04 113.22);
    --color-avocado-300: oklch(0.94 0.11 115.03);
    --color-avocado-400: oklch(0.92 0.19 114.08);
    --color-avocado-500: oklch(0.84 0.18 117.33);
    --color-avocado-600: oklch(0.53 0.12 118.34);

    --color-primary: var(--primary-color-user-500);

    --color-primary-100: var(--primary-color-user-100);
    --color-primary-200: var(--primary-color-user-200);
    --color-primary-300: var(--primary-color-user-300);
    --color-primary-400: var(--primary-color-user-400);
    --color-primary-500: var(--color-primary);
    --color-primary-600: var(--primary-color-user-600);
    --color-primary-700: var(--primary-color-user-700);
    --color-primary-800: var(--primary-color-user-800);
    --color-primary-900: var(--primary-color-user-900);

    /*--ease-fluid: cubic-bezier(0.3, 0, 0, 1);
    --ease-snappy: cubic-bezier(0.2, 0, 0, 1); 
    */

    /* for custom font, that generates class "font-nunito" */
    --font-nunito: 'Nunito', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
    --font-roboto: 'Roboto', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;

    --text-2xs: 0.625rem;
    --text-3xs: 0.5rem;

    --shadow-box: 0 0 10px 10px rgba(0, 0, 0, 0.01);
    --shadow-menu: 0 -10px 15px -3px rgba(0, 0, 0, 0.1);
    --shadow-popover: 0 0 15px 7px rgba(0, 0, 0, 0.05);

    --animate-pop: pop 1s ease-in-out 1;
    --animate-popOut: popOut 1s ease-in-out 1;
    --animate-plant-watered: plant-watered 1s cubic-bezier(0, 0, 0.2, 1);
    --animate-float: float-bounce 3s ease-in-out infinite;
}

@layer base {
    html,
    body {
        height: 100%;
        min-height: 100vh;
    }

    body {
        @apply bg-gray-100 text-gray-900 font-roboto antialiased dark:bg-gray-950;
    }

    input[type='color'] {
        appearance: none;
        -webkit-appearance: none;
    }

    input[type='color']::-webkit-color-swatch-wrapper {
        padding: 0;
    }

    input[type='color']::-webkit-color-swatch {
        border: none;
    }
}

@layer components {
    .card {
        @apply bg-white rounded-lg shadow-md p-4 text-slate-800;
    }

    .modal-backdrop {
        @apply bg-gray-800/15 fixed inset-0 z-3 backdrop-blur-[5px];
    }

    /* modal backdrop */

    .modal-backdrop.fade {
        @apply opacity-0;
    }

    /* / modal backdrop */
}

@layer utilities {
    /* fill mode for animations to stop */

    .fill-mode-forwards {
        animation-fill-mode: forwards;
    }

    /* / fill mode for animations to stop */

    /* custom grid cols */

    .grid-cols-1fr-auto {
        grid-template-columns: 1fr auto;
    }

    /* / custom grid cols */

    /* VUE.JS transitions */

    .fade-enter-active,
    .fade-leave-active {
        @apply transition-opacity duration-300;
    }

    .fade-enter-from,
    .fade-leave-to {
        @apply opacity-0;
    }

    .fade-move {
        @apply transition-transform duration-600;
    }

    .icon-transform-enter-active,
    .icon-transform-leave-active {
        transition: all 0.3s ease;
    }
    .icon-transform-enter-from,
    .icon-transform-leave-to {
        opacity: 0;
        transform: scale(0.8) rotate(-90deg);
    }

    .chat-slide-enter-active,
    .chat-slide-leave-active {
        @apply transition-all duration-600;
    }

    .chat-slide-enter-from,
    .chat-slide-leave-to {
        @apply translate-y-[calc(100%+var(--spacing)*22)] opacity-0;
    }

    .chat-slide-enter-to,
    .chat-slide-leave-from {
        @apply translate-y-0 opacity-100;
    }

    // / VUE.JS transitions

    /* Custom heigth classes */

    .header-min-h {
        min-height: var(--headerHeight);
    }

    .bottomBar-min-h {
        min-height: var(--bottomBarHeight);
    }

    /* / Custom heigth classes */

    /* Dragging */

    .dragging {
        @apply opacity-90 z-9999 scale-105;
    }

    .drag-ghost {
        @apply opacity-70 scale-105;
    }

    .drag-chosen {
        @apply opacity-80;
    }

    .drag-dragging {
        @apply cursor-grabbing;
    }

    .v-draggable {
        @apply touch-none;
    }

    /* / Dragging */

    /* vue-router is active */

    .is-active:not(.reset-is-active) {
        @apply text-primary dark:text-primary-700;
    }

    /* // vue-router is active */

    /* poper transition */

    .popper-slide .v-popper__wrapper,
    .popper-slide-small .v-popper__wrapper {
        @apply transition-all duration-500 ease-out transform opacity-100 scale-100 translate-y-0;
    }

    .popper-slide.v-popper__popper--hidden .v-popper__wrapper,
    .popper-slide-small.v-popper__popper--hidden .v-popper__wrapper {
        @apply opacity-0 scale-95;
    }

    .popper-slide.v-popper__popper--hidden .v-popper__wrapper {
        @apply -translate-y-30;
    }

    .popper-slide-small.v-popper__popper--hidden .v-popper__wrapper {
        @apply -translate-y-10;
    }

    .popper-slide.v-popper__popper--shown .v-popper__wrapper,
    .popper-slide-small.v-popper__popper--shown .v-popper__wrapper {
        @apply opacity-100 scale-100 translate-y-0;
    }

    /* / poper transition */
}

/* poper custom styles */

.v-popper--theme-tooltip {
    @apply text-sm max-w-[400px];
}

.v-popper--theme-tooltip .v-popper__inner {
    @apply dark:text-white/75 dark:bg-black text-xs/5;
}

.v-popper--theme-dropdown .v-popper__inner {
    @apply border-none rounded-xl shadow-popover bg-white dark:bg-gray-900;
}
.v-popper--theme-dropdown .v-popper__arrow-inner,
.v-popper--theme-dropdown .v-popper__arrow-outer {
    @apply border-white dark:border-gray-900;
}

/* / poper custom styles */
