@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v287/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1v-p_4MrImHCIJIZrDCvHOej.woff2) format('woff2');
}

@import 'tailwindcss';
/* @plugin "tailwindcss-animate"; */



@theme {
  --radius: 0.5rem;

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from { height: 0; }
    to { height: var(--radix-accordion-content-height); }
  }
  @keyframes accordion-up {
    from { height: var(--radix-accordion-content-height); }
    to { height: 0; }
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    /* --primary: 222.2 47.4% 11.2%; */
    --primary: var(--primary-color-user-500);
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    /* --primary: 210 40% 98%; */
    --primary: var(--primary-color-user-500);
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/**
 * ----------------------------------------------------------------
 * Animations Module
 * ----------------------------------------------------------------
 * Imports all custom @keyframes definitions and animation
 * utility classes from the dedicated animations module.
 */
@import './modules/animations.css';

/**
 * ----------------------------------------------------------------
 * Custom Dark Mode Variant
 * ----------------------------------------------------------------
 * Defines a custom `dark:` variant for Tailwind CSS, which
 * activates when an element is inside a parent with the `.dark`
 * class. This allows for custom dark mode styling like
 * `dark:bg-black`.
 */
@custom-variant dark (&:where(.dark, .dark *));

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: 'liga';
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.noto-color-emoji-regular {
    font-family: 'Noto Color Emoji', sans-serif;
    font-weight: 400;
    font-style: normal;
}

@theme {
    --color-avocado-100: oklch(0.99 0 0);
    --color-avocado-200: oklch(0.98 0.04 113.22);
    --color-avocado-300: oklch(0.94 0.11 115.03);
    --color-avocado-400: oklch(0.92 0.19 114.08);
    --color-avocado-500: oklch(0.84 0.18 117.33);
    --color-avocado-600: oklch(0.53 0.12 118.34);

    --color-primary: var(--primary-color-user-500);

    --color-primary-100: var(--primary-color-user-100);
    --color-primary-200: var(--primary-color-user-200);
    --color-primary-300: var(--primary-color-user-300);
    --color-primary-400: var(--primary-color-user-400);
    --color-primary-500: var(--color-primary);
    --color-primary-600: var(--primary-color-user-600);
    --color-primary-700: var(--primary-color-user-700);
    --color-primary-800: var(--primary-color-user-800);
    --color-primary-900: var(--primary-color-user-900);

    /*--ease-fluid: cubic-bezier(0.3, 0, 0, 1);
    --ease-snappy: cubic-bezier(0.2, 0, 0, 1); 
    */

    /* for custom font, that generates class "font-nunito" */
    --font-nunito: 'Nunito', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
    --font-roboto: 'Roboto', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;

    --text-2xs: 0.625rem;
    --text-3xs: 0.5rem;

    --shadow-box: 0 0 10px 10px rgba(0, 0, 0, 0.01);
    --shadow-box-lg: 0 0 10px 10px rgba(0, 0, 0, 0.03);
    --shadow-menu: 0 -10px 15px -3px rgba(0, 0, 0, 0.1);
    --shadow-popover: 0 0 15px 7px rgba(0, 0, 0, 0.05);

    --animate-pop: pop 1s ease-in-out 1;
    --animate-popOut: popOut 1s ease-in-out 1;
    --animate-plant-watered: plant-watered 1s cubic-bezier(0, 0, 0.2, 1);
    --animate-float: float-bounce 3s ease-in-out infinite;
    --animate-spin-slow: spin 3s linear infinite;
}

@layer base {
    html,
    body {
        height: 100%;
        min-height: 100vh;
    }

    body {
        @apply bg-gray-100 text-gray-900 font-roboto antialiased dark:bg-gray-950 transition-colors duration-600;
    }

    input[type='color'] {
        appearance: none;
        -webkit-appearance: none;
    }

    input[type='color']::-webkit-color-swatch-wrapper {
        padding: 0;
    }

    input[type='color']::-webkit-color-swatch {
        border: none;
    }
}

@layer components {
    .card {
        @apply bg-white rounded-lg shadow-md p-4 text-slate-800;
    }

    .modal-backdrop {
        @apply bg-gray-800/15 fixed inset-0 z-3 backdrop-blur-[5px];
    }

    /* modal backdrop */

    .modal-backdrop.fade {
        @apply opacity-0;
    }

    /* / modal backdrop */
}

@layer utilities {
    /* fill mode for animations to stop */

    .fill-mode-forwards {
        animation-fill-mode: forwards;
    }

    /* / fill mode for animations to stop */

    .transition-discrete {
        transition-behavior: allow-discrete;
    }

    /* custom grid cols */

    .grid-cols-1fr-auto {
        grid-template-columns: 1fr auto;
    }

    /* / custom grid cols */

    /* VUE.JS transitions */

    .fade-enter-active,
    .fade-leave-active {
        @apply transition-opacity duration-300;
    }

    .fade-enter-from,
    .fade-leave-to {
        @apply opacity-0;
    }

    .fade-move {
        @apply transition-transform duration-600;
    }

    .icon-transform-enter-active,
    .icon-transform-leave-active {
        transition: all 0.3s ease;
    }
    .icon-transform-enter-from,
    .icon-transform-leave-to {
        opacity: 0;
        transform: scale(0.8) rotate(-90deg);
    }

    .chat-slide-enter-active,
    .chat-slide-leave-active {
        @apply transition-all duration-600;
    }

    .chat-slide-enter-from,
    .chat-slide-leave-to {
        @apply translate-y-[calc(100%+var(--spacing)*22)] opacity-0;
    }

    .chat-slide-enter-to,
    .chat-slide-leave-from {
        @apply translate-y-0 opacity-100;
    }

    /* / VUE.JS transitions */

    /* Custom heigth classes */

    .header-min-h {
        min-height: var(--headerHeight);
    }

    .bottomBar-min-h {
        min-height: var(--bottomBarHeight);
    }

    /* / Custom heigth classes */

    /* Dragging */

    .dragging {
        @apply opacity-90 z-9999 scale-105;
    }

    .drag-ghost {
        @apply opacity-70 scale-95;
    }

    .drag-chosen {
        @apply opacity-80;
    }

    .drag-dragging {
        @apply cursor-grabbing;
    }

    .v-draggable {
        @apply touch-none;
    }

    /* / Dragging */

    /* vue-router is active */

    .is-active:not(.reset-is-active) {
        @apply text-primary dark:text-primary-700;
    }

    /* // vue-router is active */

    /* poper transition */

    .popper-slide .v-popper__wrapper,
    .popper-slide-small .v-popper__wrapper {
        @apply transition-all duration-500 ease-out transform opacity-100 scale-100 translate-y-0;
    }

    .popper-slide.v-popper__popper--hidden .v-popper__wrapper,
    .popper-slide-small.v-popper__popper--hidden .v-popper__wrapper {
        @apply opacity-0 scale-95;
    }

    .popper-slide.v-popper__popper--hidden .v-popper__wrapper {
        @apply -translate-y-30;
    }

    .popper-slide-small.v-popper__popper--hidden .v-popper__wrapper {
        @apply -translate-y-10;
    }

    .popper-slide.v-popper__popper--shown .v-popper__wrapper,
    .popper-slide-small.v-popper__popper--shown .v-popper__wrapper {
        @apply opacity-100 scale-100 translate-y-0;
    }

    /* / poper transition */
}

/* poper custom styles */

.v-popper--theme-tooltip {
    @apply text-sm max-w-[400px];
}

.v-popper--theme-tooltip .v-popper__inner {
    @apply dark:text-white/75 dark:bg-black text-xs/5;
}

.v-popper--theme-dropdown .v-popper__inner {
    @apply border-none rounded-xl shadow-popover bg-white dark:bg-gray-900;
}
.v-popper--theme-dropdown .v-popper__arrow-inner,
.v-popper--theme-dropdown .v-popper__arrow-outer {
    @apply border-white dark:border-gray-900;
}

/* / poper custom styles */

/*---break---
 */

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-success: var(--success);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

/*---break---
 */

:root {
    --radius: 0.625rem;
    /* --background: oklch(1 0 0); */
    --background: theme('colors.gray.100');
    --foreground: oklch(0.145 0 0);
    /* --card: oklch(1 0 0); */
    --card: theme('colors.white');
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    /* --primary: oklch(0.205 0 0); */
    --primary: var(--primary-color-user-500);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --success: var(--primary);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

/*---break---
 */

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    /* --popover: oklch(0.205 0 0); */
    --popover: theme('colors.gray.900');
    /* --popover-foreground: oklch(0.985 0 0); */
    --popover-foreground: theme('colors.gray.600');
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    /* --accent: oklch(0.269 0 0); */
    --accent: theme('colors.gray.800');
    /* --accent-foreground: oklch(0.985 0 0); */
    --accent-foreground: theme('colors.gray.400');
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    /* --input: oklch(1 0 0 / 15%); */
    --input: theme('colors.gray.600');
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

/*---break---
 */

@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
}
