@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v287/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1v-p_4MrImHCIJIZrDCvHOej.woff2) format('woff2');
}

@import 'tailwindcss';

@import './modules/animations.css';

@custom-variant dark (&:where(.dark, .dark *));

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: 'liga';
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.noto-color-emoji-regular {
    font-family: 'Noto Color Emoji', sans-serif;
    font-weight: 400;
    font-style: normal;
}

@theme {
    --color-avocado-100: oklch(0.99 0 0);
    --color-avocado-200: oklch(0.98 0.04 113.22);
    --color-avocado-300: oklch(0.94 0.11 115.03);
    --color-avocado-400: oklch(0.92 0.19 114.08);
    --color-avocado-500: oklch(0.84 0.18 117.33);
    --color-avocado-600: oklch(0.53 0.12 118.34);

    --color-primary: var(--primary-color-user-500);

    --color-primary-100: var(--primary-color-user-100);
    --color-primary-200: var(--primary-color-user-200);
    --color-primary-300: var(--primary-color-user-300);
    --color-primary-400: var(--primary-color-user-400);
    --color-primary-500: var(--color-primary);
    --color-primary-600: var(--primary-color-user-600);
    --color-primary-700: var(--primary-color-user-700);
    --color-primary-800: var(--primary-color-user-800);
    --color-primary-900: var(--primary-color-user-900);

    --font-roboto: 'Roboto', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;

    --text-2xs: 0.625rem;
    --text-3xs: 0.5rem;

    --shadow-box: 0 0 10px 10px rgba(0, 0, 0, 0.01);
    --shadow-box-lg: 0 0 10px 10px rgba(0, 0, 0, 0.03);
    --shadow-menu: 0 -10px 15px -3px rgba(0, 0, 0, 0.1);
    --shadow-popover: 0 0 15px 7px rgba(0, 0, 0, 0.05);

    --animate-pop: pop 1s ease-in-out 1;
    --animate-popOut: popOut 1s ease-in-out 1;
    --animate-plant-watered: plant-watered 1s cubic-bezier(0, 0, 0.2, 1);
    --animate-float: float-bounce 3s ease-in-out infinite;
    --animate-spin-slow: spin 3s linear infinite;
    --animate-popper-slide: popper-slide 0.5s ease-out 1;
}

@layer base {
    html,
    body {
        height: 100%;
        min-height: 100vh;
    }

    body {
        @apply bg-background text-foreground font-roboto antialiased transition-colors duration-600;
    }

    * {
        @apply border-border outline-ring/50;
    }

    input[type='color'] {
        appearance: none;
        -webkit-appearance: none;
    }

    input[type='color']::-webkit-color-swatch-wrapper {
        padding: 0;
    }

    input[type='color']::-webkit-color-swatch {
        border: none;
    }
}

@layer components {
    .card {
        @apply bg-white rounded-lg shadow-md p-4 text-slate-800;
    }

    .modal-backdrop {
        @apply bg-gray-800/15 fixed inset-0 z-3 backdrop-blur-[5px];
    }

    /* modal backdrop */

    .modal-backdrop.fade {
        @apply opacity-0;
    }

    /* / modal backdrop */
}

@layer utilities {
    /* fill mode for animations to stop */

    .fill-mode-forwards {
        animation-fill-mode: forwards;
    }

    /* / fill mode for animations to stop */

    .transition-discrete {
        transition-behavior: allow-discrete;
    }

    /* custom grid cols */

    .grid-cols-1fr-auto {
        grid-template-columns: 1fr auto;
    }

    /* / custom grid cols */

    /* VUE.JS transitions */

    .fade-enter-active,
    .fade-leave-active {
        @apply transition-opacity duration-300;
    }

    .fade-enter-from,
    .fade-leave-to {
        @apply opacity-0;
    }

    .fade-move {
        @apply transition-transform duration-600;
    }

    .icon-transform-enter-active,
    .icon-transform-leave-active {
        transition: all 0.3s ease;
    }
    .icon-transform-enter-from,
    .icon-transform-leave-to {
        opacity: 0;
        transform: scale(0.8) rotate(-90deg);
    }

    .chat-slide-enter-active,
    .chat-slide-leave-active {
        @apply transition-all duration-600;
    }

    .chat-slide-enter-from,
    .chat-slide-leave-to {
        @apply translate-y-[calc(100%+var(--spacing)*22)] opacity-0;
    }

    .chat-slide-enter-to,
    .chat-slide-leave-from {
        @apply translate-y-0 opacity-100;
    }

    .pop-list-enter-active {
        @apply animate-pop;
        position: relative;
    }
    .pop-list-leave-active {
        @apply transition-all duration-500 ease-in;
        position: absolute;
    }
    .pop-list-leave-to {
        @apply opacity-0 scale-50;
    }
    .pop-list-move {
        @apply transition-all duration-500 ease-out;
    }

    /* / VUE.JS transitions */

    /* Custom heigth classes */

    .header-min-h {
        min-height: var(--headerHeight);
    }

    .bottomBar-min-h {
        min-height: var(--bottomBarHeight);
    }

    /* / Custom heigth classes */

    /* Dragging */

    .dragging {
        @apply opacity-90 z-9999 scale-105;
    }

    .drag-ghost {
        @apply opacity-70 scale-95;
    }

    .drag-chosen {
        @apply opacity-80;
    }

    .drag-dragging {
        @apply cursor-grabbing;
    }

    .v-draggable {
        @apply touch-none;
    }

    /* / Dragging */

    /* vue-router is active */

    .is-active {
        @apply text-primary dark:text-primary-700;
    }

    /* // vue-router is active */

    /* poper transition */

    .popper-slide .v-popper__wrapper,
    .popper-slide-small .v-popper__wrapper {
        @apply transition-all duration-500 ease-out transform opacity-100 scale-100 translate-y-0;
    }

    .popper-slide.v-popper__popper--hidden .v-popper__wrapper,
    .popper-slide-small.v-popper__popper--hidden .v-popper__wrapper {
        @apply opacity-0 scale-95;
    }

    .popper-slide.v-popper__popper--hidden .v-popper__wrapper {
        @apply -translate-y-30;
    }

    .popper-slide-small.v-popper__popper--hidden .v-popper__wrapper {
        @apply -translate-y-10;
    }

    .popper-slide.v-popper__popper--shown .v-popper__wrapper,
    .popper-slide-small.v-popper__popper--shown .v-popper__wrapper {
        @apply opacity-100 scale-100 translate-y-0;
    }

    /* / poper transition */
}

/* poper custom styles */

.v-popper--theme-tooltip {
    @apply text-sm max-w-[400px];
}

.v-popper--theme-tooltip .v-popper__inner {
    @apply dark:text-white/75 dark:bg-black text-xs/5;
}

.v-popper--theme-dropdown .v-popper__inner {
    @apply border-none rounded-xl shadow-popover bg-white dark:bg-neutral-950;
}
.v-popper--theme-dropdown .v-popper__arrow-inner,
.v-popper--theme-dropdown .v-popper__arrow-outer {
    @apply border-white dark:border-gray-900;
}

/* / poper custom styles */

/*---break---
 */

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-success: var(--success);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

/*---break---
 */

:root {
    --radius: 0.625rem;
    --background: theme('colors.gray.100');
    --foreground: theme('colors.gray.500');
    --card: theme('colors.white');
    --card-foreground: theme('colors.gray.500');
    --popover: theme('colors.white');
    --popover-foreground: theme('colors.gray.500');
    --primary: var(--primary-color-user-500);
    --primary-foreground: theme('colors.white');
    --secondary: theme('colors.gray.200');
    --secondary-foreground: theme('colors.gray.500');
    --muted: theme('colors.gray.300');
    --muted-foreground: theme('colors.gray.400');
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: theme('colors.red.500');
    --success: var(--primary);
    --border: theme('colors.gray.200');
    /* --input: oklch(0.922 0 0); */
    --input: theme('colors.gray.300');
    --ring: theme('colors.gray.200');

    /* Carousel */

    /* Carousel Navigation */
    --vc-nav-background: theme('colors.white / 0.5');
    --vc-nav-bg-hover: theme('colors.white / 0.7');
    --vc-nav-color: theme('colors.gray.500');
    --vc-nav-color-hover: theme('colors.primary.600');
    --vc-nav-radius: theme('borderRadius.full');
    --vc-nav-height: 30px;
    --vc-nav-width: 30px;
    --vc-nav-width-hover: 30px;
    --vc-nav-shadow: theme('boxShadow.box-lg');

    /* Carousel Icon */
    --vc-icn-width: var(--vc-nav-width);

    /* Carousel Pagination */
    --vc-pgn-active-color: theme('colors.gray.500');
    --vc-pgn-background-color: theme('colors.white');
    --vc-pgn-border-radius: theme('borderRadius.full');
    --vc-pgn-gap: 6px;
    --vc-pgn-height: 4px;
    --vc-png-bottom: 10px;
    --vc-png-left: auto;
    --vc-png-right: 10px;
    --vc-pgn-width: 16px;
    --vc-pgn-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

/*---break---
 */

.dark {
    --background: theme('colors.neutral.900');
    --foreground: theme('colors.neutral.500');
    --card: theme('colors.neutral.800');
    --card-foreground: theme('colors.neutral.500');
    --popover: theme('colors.neutral.800');
    --popover-foreground: theme('colors.neutral.500');
    --primary: theme('colors.primary.700');
    --primary-foreground: theme('colors.white / 0.6');
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: theme('colors.neutral.400');
    --muted: oklch(0.269 0 0);
    --muted-foreground: theme('colors.neutral.600');
    --accent: theme('colors.neutral.800');
    --accent-foreground: theme('colors.neutral.400');
    --destructive: theme('colors.red.900');
    --border: theme('colors.neutral.700');
    --input: theme('colors.neutral.700');
    --ring: theme('colors.neutral.600');

    /* Carousel */

    /* Carousel Navigation */
    --vc-nav-background: theme('colors.neutral.800 / 0.5');
    --vc-nav-bg-hover: theme('colors.neutral.800 / 0.7');
    --vc-nav-color: theme('colors.neutral.300');
    --vc-nav-color-hover: theme('colors.primary.600');
    --vc-nav-shadow: theme('boxShadow.box-lg');

    /* Carousel Pagination */
    --vc-pgn-active-color: theme('colors.neutral.500');
    --vc-pgn-background-color: theme('colors.white');
    --vc-pgn-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

/*---break---
 */

/* @layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
} */

@import './modules/carousel.css';

/**  Checkbox**/

.checkbox-wrapper {
    @apply relative;
}
.checkbox-wrapper input {
    @apply absolute opacity-0 cursor-pointer;
}
.checkbox-wrapper input + label {
    @apply border-2 border-gray-300 dark:border-neutral-600 rounded-sm flex items-center justify-center w-5 h-5 cursor-pointer text-gray-300 text-lg transition-all duration-600;
}
.checkbox-wrapper input + label span {
    @apply opacity-0 transition-opacity duration-600;
}
.checkbox-wrapper input:checked + label {
    @apply border-gray-500 text-gray-500 dark:border-neutral-400 dark:text-neutral-400;
}

.checkbox-wrapper input:checked + label span {
    @apply opacity-100;
}
.checkbox-wrapper label {
    @apply cursor-pointer;
}
